.elements {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  gap: 15px;
  padding: 50px 173px 0px;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, 48%);
    padding: 50px 135px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .elements {
    grid-template-columns: repeat(1, 98%);
    padding: 50px 52px 0;

    margin: 0;
  }
}
